#wrapper {
    flex: 3 1;

    .show-info-area-root {
        display: flex;
        padding: 24px;
        width: 794px;
        height: 1123px;

        .root-left {
            flex: 1 1;
            color: white;
            padding: 1rem 2rem;
            background-color: rgb(39, 63, 117);
            -webkit-print-color-adjust: exact;

            .root-left-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;
            }

            .self-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                .self-info-name {
                    font-size: 30px;
                    font-weight: 400;
                }

                .self-info-job {
                    font-size: 16px;
                }
            }
        }


        .root-right {
            flex: 2 1;
            background-color: #f2f2f2;
        }

    }
}

.print-button {
    width: 12vw;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;

    & .ant-btn-primary {
        margin-right: 1rem;
    }
}